* {
  padding: 0%;
  margin: 0%;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  height: 10vh;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
nav {
  width: 35%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header p {
  padding-left: 10px;
  font-size: 30px;
  font-weight: bolder;
}
nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: skyblue;
  height: 66vh;
}
main section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}
main h1 {
  margin: 25px;
  font-size: 45px;
  animation-name: Welcome;
  animation-duration: 3s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.Logo {
  
  font-size: 25px;
  font-weight: bolder;
}

h2 {
  font-size: 35px;
}
.About {
  width: 40%;
  display: grid;
  z-index: 50;
  gap: 10px;
  position: absolute;
  left: 0%;
  animation-name: About;
  animation-duration: 3s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.About h2 {
  font-size: 40px;
}
.image {
  width: 40%;
  animation: image 3s ease infinite normal;
}
@keyframes Welcome {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX (1000px);
  }
}
@keyframes About {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes image {
  0% {
    transform: scale(0);
  }
  
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.5);
  }
}

  footer{
    background-color: black;
    color: white;
    height: 30vh;
    padding: 25px;
  }
 footer div{
  display: flex;
  justify-content:space-evenly;

  align-items: center;
  height: 20vh;
  
 }
 footer div nav a{
  color:white ;
  font-size: 14px;
  font-weight: lighter;
 }
 footer div .Logo{

 }
  
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(30, 31, 25);
  color: whitesmoke;
  height: 40vh;
  gap: 10px;
}

.first div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div1 {
  font-weight: bolder;
  width: 30vw;
}
.div2 {
  font-size: 11px;
  font-weight: lighter;
  width: 28vw;
}
.second {
  background-color: rgb(104, 179, 70);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  color: white;
}
